body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Helvetica', 'Arial';
}

h2 {
	font-weight: normal;
	font-size: 18px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

button {
	font-size: 18px;
	cursor: pointer;
}


.container {
	width: 480px;
	margin: 0 auto;
	text-align: left;
}

#options {
	margin: 10px 0;
}

.next-question {
	margin-right: 10px;
}

#score {
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
}
.contain {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .contain input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
	position: absolute;
	top: 12px;
	left: 38%;
	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 50%;
  }
 
  /* When the radio button is checked, add a blue background */
  .contain input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .contain input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .contain .checkmark:after {
	   top: 4px;
	  left: 4px;
	  width: 7px;
	  height: 7px;
	  border-radius: 50%;
	  background: #fff;
  }

