<div class="survey-area" ng-show="inProgress">
	<div ng-show="!serveyOver">
		<h2 id="question">{{question}}</h2>
		<ul id="options">
			<li ng-repeat="option in options">
				
				<label class="contain">{{option}}
						<input type="radio" name="answer" value="{{option}}">
						<span class="checkmark"></span>
					  </label>
					  
			</li>
		</ul>
		<button ng-click="checkAnswer()" class="btn btn-outline-primary" ng-show="answerMode">Submit</button>

		<div ng-show="!answerMode">
			<button class="btn btn-outline-success" ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAns" class="text-success">That is correct!</span>
			<span ng-show="!correctAns" class="text-danger">Sorry, that is an incorrect answer.</span>
		</div>
	</div>

	<div ng-show="serveyOver">
		<h2>Survey is Completed</h2>
		<button ng-click="reset()" class="btn btn-outline-primary">Start again</button>
	</div>

	<div id="score">
		You Answered: {{score}}
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<p class="text-success">Sample Survey Questions</p>
	<button id="startQuiz" class="btn btn-outline-primary" ng-click="start()">Start Survey Questions</button>
</div>
